* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
}
#watch {
  position: absolute;
  width: 570px;
  display: flex;
  justify-content: space-between;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 100px;
}
